.status{
    width: 60px;
}
.date-visit{
    width: 90px;
}
.time-visit{
    width: 60px;
}
.customer-name{
    width: 250px;
}
.sale-name{
    width: 200px;
}
.building-name{
    width: 300px;
}
.rate{
    width: 120px;
}
.comment{

}
