.no{
    width: 60px;
}
.image{
    width: 110px;
}
.title{
    width: 350px;
}
.public_date{
    width: 150px;
}
.special{
    width: 60px;
}
.status{
    width: 100px;
}
.content{

}
.action{
    width: 80px;
}
