.no{
    width: 30px;
}
.image{
    width: 110px;
}
.title{
    width: 300px;
}
.public_date{
    width: 80px;
}
.special{
    width: 40px;
}
.status{
    width: 90px;
}
.content{

}
.action{
    width: 60px;
}
